<div class="row">
  <div class="col-md-7">
    <div class="page-header"><h2>RushHour <small>Tracking Your Web Traffic</small></h2></div>
    <p>Since the beginning, we have strived to keep track of all the traffic your site attacts.
      <br>It all started back on August 22nd of 2016, we had a simple vision... understand web
      traffic better.  Since then, we have grown to a multi-page, semi-functional site that's
      dedicated to providing your business with the most up-to-date information.<br>
      We know you have several choices when it comes to analyzing web traffic, and we're proud
      you took chance with us.</p>
  </div>
  <div class="col-md-3">
    <img src="/photos/rushhourdashboard.jpg" class="dashboard-img">
  </div>
</div>
