<center><h2><strong><%= @client.identifier.upcase %></strong></h2></center>
<ul>
  <li><a href="/sources/<%= @client.identifier %>/data">View Overall Statistics</a></li>
  <li><a href="/sources/<%= @client.identifier %>/url">View Statistics for Specific URLs</a></li>
</ul>
