<%= erb :'shared/_client-menu' %>

    <% if @relativepaths.empty? %>
      <%= erb :'shared/_no-data-error' %>
    <% else %>
      <%= erb :'shared/_url-navigation' %>
    <% end %>

    </div>
  </div>
</div>
